@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Poppins:wght@200;300;400;600;700&family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */

.parimary-color {
    color: #c658f1;
}

.btn1 {
    padding: 21px 40px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    color: #FFF;
    font-size: 20px;

    font-weight: 600;
    text-transform: uppercase;
}

.btn2 {
    padding: 21px 40px;
    border-radius: 48px;
    border: none;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 20px;

    font-weight: 600;
    text-transform: uppercase;
}

.banner-btn {
    display: flex;
    gap: 10px;

}

.header-container {
    min-height: 50px;
    background: #ffffffe7;
}

.header-container,
ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 30px;
}

.header-container ul {
    list-style: none;
}


.header-container ul li {
    margin-right: 15px;
    color: rgb(14, 13, 13);
}


.header-container ul li a {
    text-decoration: none;
    color: rgb(14, 13, 13);
}

.content {
    display: flex;
    align-items: center;

}

.header-container,
.content ul li{
    text-align: center;
}
.follow {
    width: 150px;
    height: 40px;
    padding: 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.header-title {
    display: flex;
    gap: 8px;
}

.header-title img {
    width: 50px;
    height: 30px;
}

.header-title h2 {
    font-size: 35px;
}

/* header container end */
.banner-container {
    display: flex;
    align-items: center;
    margin: auto 10%;
    gap: 50px;
}


.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.banner-container img {
    max-width: 100vw;
    min-width: auto;
    height: auto;
}

.banner-title {
    text-align: center;
}

.banner-icon p {
    color: #6e6488;
    font-size: 15px;
    font-weight: 500;
}

.fa-solid {
    margin-right: 10px;
}

.banner-title h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 95px;
    font-weight: 800;
}
.banner-title h2{
    font-size: 48px;
    font-weight: 600;
}

/* banner container end */

.gamer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 30px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}
.funny-videos-content span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 30px;
    font-weight: 800;
}

.gamer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 10px;
}

.gamer-container img {
    max-width: 600px;
    min-width: 380px;
    margin: auto;
    height: 400px;
}

.game-btn {
    width: fit-content;
    padding: 21px 40px;
    align-items: flex-start;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    color: #FFF;
    font-size: large;
    text-transform: uppercase;
    font-weight: 700;
}
.paragraph h2{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 50px;
    font-weight: 600;
}

.paragraph {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* gamer container end */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card {
    position: relative;
    width: 240px;
    height: 400px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 16px;
}

.card-content,
.funny-videos-content {
    text-align: center;
    margin: 10px 10px;
}

.image-container {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}

.card img {
    width: 100%;
    height: 100%;
}
/* card styles end */

.play-content span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 50px;
    font-weight: 600;
}
.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #fff;
    opacity: 0;
    pointer-events: none;
}

.play-icon p {
    font-size: small;
    font-weight: 700;
}

.card:hover .image-container {
    transform: scale(1.1);
}

.card:hover {
    border: 4px solid red;

}

.card:hover .play-icon {
    opacity: 1;
}

/* card container end */

.play-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-top: 60px;
}

.play-image-container {
    position: relative;
    max-width: 50%;
    min-width: auto;
}

.play-content {
    text-align: center;
}

.horse-riding {
    width: 40vw;
}

.talking-tom {
    position: absolute;
    left: -10%;
    bottom: -10%;
    /* min-width: 300px; */
    width: 50%;
}

/* paly-game-container end */



.category-container {
    /* display: grid;
    grid-template-columns: repeat(5, 1fr); */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 100px 100px;
}

.game-name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    box-sizing: border-box;
    border-radius: 50px;
    background: #FFF;
}

.game-name:hover {
    border: 1px solid red;
}

.game-name img {
    max-width: 100%;
}

/* category game container end */


.footer-container {
    width: 100%;
    height: 400px;
    color: white;
    background-color: rgb(19, 18, 18);
    padding: 120px 0px 40px 0px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}

.footer-content ul li {
    list-style: none;
}

.footer-title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-title img {
    width: 50px;
    height: 30px;
}

.footer-title h2 {
    font-size: 35px;
    font-weight: 800;
}

.gamer-history ul {
    gap: 70px;
}

.gamer-history ul li {
    font-weight: 80;
}

.gamer-policy {
    text-align: center;
}

.gamer-policy ul {
    padding-top: 20px;
    gap: 30px;
}

.gamer-policy ul li {
    font-size: 10px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.60);
}

.footer-icon>i {
    justify-content: space-around;
    gap: 30px;
}

.gamer-policy p {
    font-size: 10px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.60);
}